/vendor/
/node_modules/
.env
.env.backup
.env.*.backup
/bootstrap/cache/*.php
/storage/*.key
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
npm-debug.log
yarn-error.log
/storage/app/public
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
!/storage/app/public/.gitignore
public/storage
public/hot
coverage/
.phpunit.result.cache
/public/css
/public/js
/public/mix-manifest.json
*.log
